/* SASS mixin start */
/* SASS mixin end */
* {
  box-sizing: border-box;
}

body {
  font-family: "Old Standard TT", serif;
  background-color: #181511;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background: #181511;
  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo__link {
  display: inline-block;
}

.burger {
  display: none;
  height: 40px;
  width: 40px;
  flex-direction: column;
  z-index: 3;
  position: relative;
}
.burger .bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 5px auto;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in;
}
.burger.active .bar:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
.burger.active .bar:nth-child(2) {
  opacity: 0;
}
.burger.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav__link {
  text-decoration: none;
  color: #ACA592;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  padding: 8px 5px;
  display: inline-block;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: #FFAE2B;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    max-width: 300px;
    width: 100%;
    background: #181511;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.2s ease-in-out;
  }
  .nav__list.active {
    right: 0;
  }

  .nav__link {
    font-size: 30px;
    color: #FFFFFF;
    padding: 15px 0;
  }

  .burger {
    display: flex;
    cursor: pointer;
  }
}
.section-title {
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFAE2B;
}
.section-title--gray {
  color: #ACA592;
}

.section-subtitle {
  font-weight: 400;
  font-size: 60px;
  line-height: 1.16;
  text-align: center;
  color: #FFAE2B;
  font-size: 60px;
  font-size: calc(35px + (60 - 35) * ((100vw - 325px) / (1240 - 325)));
}
@media screen and (max-width: 325px) {
  .section-subtitle {
    font-size: 35px;
  }
}
@media screen and (min-width: 1240px) {
  .section-subtitle {
    font-size: 60px;
  }
}

.btn--sub, .btn--orange {
  display: inline-block;
  padding: 14px 22px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: #181511;
}

.btn--orange {
  background: #FFAE2B;
  border: 1px solid transparent;
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.btn--orange:hover {
  background-color: transparent;
  color: #FFAE2B;
  border-color: #FFAE2B;
}

.input {
  outline: 0;
  border: 1px solid #FFAE2B;
  padding: 25px 20px;
  background-color: #000;
  margin: 0 auto;
  color: #FFAE2B;
  width: 420px;
}
@media screen and (max-width: 576px) {
  .input {
    width: 300px;
    padding: 15px;
  }
}
.input::-moz-placeholder {
  color: #FFAE2B;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.input:-ms-input-placeholder {
  color: #FFAE2B;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.input::placeholder {
  color: #FFAE2B;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.hero {
  background-image: url("../assets/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 21, 17, 0.3);
}
.hero__container {
  padding-top: 120px;
  padding-bottom: 200px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero__title {
  margin-bottom: 15px;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 70px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 35px;
  font-size: 70px;
  font-size: calc(35px + (70 - 35) * ((100vw - 325px) / (1240 - 325)));
}
@media screen and (max-width: 325px) {
  .hero__subtitle {
    font-size: 35px;
  }
}
@media screen and (min-width: 1240px) {
  .hero__subtitle {
    font-size: 70px;
  }
}

.layouts__subtitle {
  margin-bottom: 60px;
}
@media screen and (max-width: 576px) {
  .layouts__subtitle {
    margin-bottom: 30px;
  }
}
.layouts__container {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 576px) {
  .layouts__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -10px;
}

.card {
  border: 1px solid #4B4136;
  padding: 40px;
}
.card__container {
  flex-shrink: 1;
  padding: 10px;
  width: 33.3%;
}
@media screen and (max-width: 767px) {
  .card__container {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .card__container {
    width: 100%;
  }
}
.card__img {
  margin-bottom: 20px;
}
.card__title {
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.image-section {
  height: 462px;
  margin-bottom: 38px;
  background-image: url(/hw_16/assets/laptop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 767px) {
  .image-section {
    display: none;
  }
}

.service {
  margin-bottom: 150px;
}
.service__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .service__container {
    margin-bottom: 70px;
  }
}
.service__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .service__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.service__item {
  width: 33.3%;
  border: 1px solid #4B4136;
  padding: 60px;
  flex-shrink: 1;
}
@media screen and (max-width: 767px) {
  .service__item {
    width: 100%;
  }
}
.service__icon {
  margin-bottom: 20px;
}
.service__title {
  font-weight: 400;
  font-size: 29px;
  line-height: 40px;
  color: #FFAE2B;
  margin-bottom: 10px;
}
.service__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
  margin-bottom: 5px;
}
.service__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  color: #ACA592;
  padding-right: 40px;
}

.gallery {
  position: relative;
  border-top: 1px #4B4136 solid;
  padding-top: 50px;
  margin-bottom: 125px;
}
@media screen and (max-width: 767px) {
  .gallery {
    border: none;
    margin-bottom: 70px;
    padding-top: 0;
  }
}
.gallery__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url(/hw_16/assets/inst3.png);
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery__container {
    display: flex;
    flex-direction: column;
  }
}
.gallery__btn {
  padding: 10px 25px;
}
.gallery__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #FFAE2B;
  padding-top: 30px;
  margin: 0 40px 60px 40px;
}
.gallery__item {
  position: relative;
}
.gallery__item--text {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1220px) {
  .gallery__item--wrapper {
    margin: auto 0;
  }
}
@media screen and (max-width: 767px) {
  .gallery__item--wrapper {
    margin: 30px 0;
  }
}
.gallery__item::before {
  content: url(/hw_16/assets/inst2.png);
  position: absolute;
  top: -260px;
  left: 5px;
  right: 0;
  bottom: 0;
  z-index: 2;
  fill: #FFFFFF;
}
@media screen and (max-width: 1220px) {
  .gallery__item::before {
    display: none;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer__subtitle {
  margin-bottom: 20px;
  max-width: 520px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer__subtitle {
    padding: 0;
  }
}
.footer__text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #ACA592;
  margin-bottom: 50px;
}
.footer__input {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
}
.footer__desc {
  margin-bottom: 35px;
  text-align: center;
}
.footer__desc--gray {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ACA592;
  align-items: center;
}
.footer__desc--orange {
  color: #FFAE2B;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}
.footer__logo {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
  align-items: center;
}
.footer__logo:hover {
  fill: #FFAE2B;
}
.footer__logo--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 45px;
}
.footer__logo--item {
  background-color: transparent;
  border: 1px solid #4B4136;
  padding: 13px 15px;
  display: inline-block;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #4B4136;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
  }
}
.footer__nav--list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__nav--link {
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  color: #FFAE2B;
  border-right: 1px solid #4B4136;
  padding-right: 5px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer__nav--link {
    border: none;
  }
}
.footer__nav--list li:last-of-type .footer__nav--link {
  border-right: none;
}

.btn--sub {
  background: #FFAE2B;
  border: 1px solid transparent;
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  width: 420px;
}
@media screen and (max-width: 576px) {
  .btn--sub {
    width: 300px;
  }
}
.btn--sub:hover {
  background-color: transparent;
  color: #FFAE2B;
  border-color: #FFAE2B;
}
/*# sourceMappingURL=style.css.map */