@use "font-mixin" as *;
@use "cards-size" as *;
@use "variables" as *;

@mixin textUppercase {
    text-transform: uppercase;
}

@mixin border {
    border: 1px solid $border-color;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Old Standard TT', serif;
    background-color: $dark;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background: $dark;
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__logo {}

    &__nav {
        // position: relative;
    }
}

.logo {
    &__link {
        display: inline-block;
    }

}

.burger {
    display: none;
    height: 40px;
    width: 40px;
    flex-direction: column;
    z-index: 3;
    position: relative;

    .bar {
        display: block;
        width: 30px;
        height: 2px;
        margin: 5px auto;
        background-color: $white;
        transition: transform .2s ease-in;
    }

    &.active .bar:nth-child(1) {
        transform: translateY(14px) rotate(45deg);
    }

    &.active .bar:nth-child(2) {
        opacity: 0;
    }

    &.active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
}

.nav {
    &__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__item {}

    &__link {
        text-decoration: none;
        color: $gray;
        @include textUppercase();
        font-weight: 400;
        font-size: 11px;
        line-height: 24px;
        padding: 8px 5px;
        display: inline-block;
        transition: color 0.2s ease-in;

        &:hover {
            color: $orange;
        }
    }
}

@media screen and (max-width: $tablet) {
    // full screen nav
    // .nav__list {
    //     display: none;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background:rgba($dark, 0.9);
    //     z-index: 2;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     &.active {
    //         display: flex;
    //     }
    // }

    // side screen nav
    .nav__list {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        max-width: 300px;
        width: 100%;
        background: rgba($dark, 1);
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right .2s ease-in-out;

        &.active {
            right: 0;
        }
    }

    // dropdown nav
    // .nav__list {
    //     padding: 20px 0;
    //     display: none;
    //     position: absolute;
    //     border-top: 3px solid $white;
    //     top: 100%;
    //     left: 0;
    //     width: 100%;
    //     background: rgba($dark, 0.9);
    //     z-index: 2;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     transition: right .2s ease-in-out;
    //     &.active {
    //         display: flex;
    //     }
    // }

    .nav__link {
        font-size: 30px;
        color: $white;
        padding: 15px 0;
    }

    .burger {
        display: flex;
        cursor: pointer;
    }
}

.section-title {
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
    letter-spacing: 2px;
    @include textUppercase();
    color: $orange;

    &--gray {
        color: $gray ;

    }
}

.section-subtitle {
    font-weight: 400;
    font-size: 60px;
    line-height: 1.16;
    text-align: center;
    color: #FFAE2B;
    @include fluid-font(35px, 60px);

}


%btn {
    display: inline-block;
    padding: 14px 22px;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    line-height: 2;
    @include textUppercase();
    text-decoration: none;
    color: $dark;
}

.btn--orange {
    @extend %btn;
    background: $orange;
    border: 1px solid transparent;
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;

    &:hover {
        background-color: transparent;
        color: $orange;
        border-color: $orange;
    }
}

.input {
    outline: 0;
    border: 1px solid $orange;
    padding: 25px 20px;
    background-color: $black;
    margin: 0 auto;
    color: $orange;
    width: 420px;
    @media screen and (max-width: $mobile) {
        width: 300px;
        padding: 15px;
  }
    &::placeholder {
        color: $orange;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }
}

.hero {

    background-image: url('../assets/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($dark, 0.3);

    }

    &__container {
        padding-top: 120px;
        padding-bottom: 200px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 70px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 1px;
        color: $white;
        margin-bottom: 35px;
        @include fluid-font(35px, 70px);
        // @media screen and (max-width:$mobile) {
        //     font-size: 35px;
        // }
    }
}

.layouts {
    &__subtitle {
        margin-bottom: 60px;

        @media screen and (max-width:$mobile) {
            margin-bottom: 30px;

        }
    }

    &__container {
        padding-top: 120px;
        padding-bottom: 120px;

        @media screen and (max-width:$mobile) {
            padding-top: 80px;
            padding-bottom: 80px;

        }
    }
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -10px;

}


.card {

    @include border;
    padding: 40px;

    &__container {
        flex-shrink: 1;
        padding: 10px;

        @include cards-size();
    }


    &__img {
        margin-bottom: 20px;
    }


    &__title {
        font-size: 13px;
        line-height: 1.8;
        letter-spacing: 2px;
        @include textUppercase;
        color: $white;
        text-align: center;

    }
}

// Image Section

.image-section {
    height: 462px;
    margin-bottom: 38px;
    background-image: url(/hw_16/assets/laptop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

// Service Section 

.service {
    margin-bottom: 150px;
    &__container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: $tablet) {
            margin-bottom: 70px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__item {
        @include service-cards();
        @include border();
        padding: 60px;
        flex-shrink: 1;
    }

    &__icon {
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 400;
        font-size: 29px;
        line-height: 40px;
        color: $orange;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: $gray;
        margin-bottom: 5px;
    }

    &__text {
        font-weight: 400;
        font-size: 11px;
        line-height: 26px;
        color: $gray;
        padding-right: 40px;
    }
}

.gallery {
    position: relative;
    border-top: 1px #4B4136 solid;
    padding-top: 50px;
    margin-bottom: 125px;
    @media screen and (max-width: $tablet) {
        border: none;
        margin-bottom: 70px;
        padding-top: 0;
    }
    &__container {
        display: flex;
        flex-direction: row;
        text-align: center;
        background-image: url(/hw_16/assets/inst3.png);
        background-size: 200px;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: $tablet) {
            display: flex;
            flex-direction: column;
        }
    }

    &__btn {
        padding: 10px 25px;
    }

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: $orange;
        padding-top: 30px;
        margin: 0 40px 60px 40px;
        @media screen and (max-width: $tablet) {
          
        }
    }

    &__item {
        position: relative;
        &--text {
            text-decoration: none;
            display: flex;
            flex-direction: column;
        }

        &--wrapper {
            @media screen and (max-width: $small-desktop) {
                margin: auto 0;
            }

            @media screen and (max-width: $tablet) {
                margin: 30px 0;
            }
        }

        &::before {
            content: url(/hw_16/assets/inst2.png);
            position: absolute;
            top: -260px;
            left: 5px;
            right: 0;
            bottom: 0;
            z-index: 2;
            fill: $white;
            @media screen and (max-width: $small-desktop) {
                display: none;
            }
        }
    }
}

.footer {
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    &__subtitle {
        margin-bottom: 20px;
        max-width: 520px;
        margin: 0 auto;
        @media screen and (max-width: $tablet) {
            padding: 0;
        }
    }

    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        color: $gray;
        margin-bottom: 50px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    &__desc {
        margin-bottom: 35px;
        text-align: center;
        &--gray {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $gray;
            align-items: center;
        }
        &--orange {
            color: $orange;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            align-items: center;
        }
    }

    &__logo {
        fill: $white;
        width: 20px;
        height: 20px;
        align-items: center;
        &:hover {
            fill: $orange;
        }
        &--list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            margin-bottom: 45px;
        }
        &--item {
            background-color: transparent;
            border: 1px solid $border-color;
            padding: 13px 15px;
            display: inline-block;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        padding: 20px 0;
        @media screen and (max-width: $tablet) {
            display: flex;
            flex-direction: column;
        }
        
        &--list {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        &--link {
            font-weight: 400;
            font-size: 11px;
            line-height: 30px;
            color: $orange;
            border-right: 1px solid $border-color;
            padding-right: 5px;
            text-decoration: none;
            @media screen and (max-width: $tablet) {
                border: none;
            }
        }

        &--list li:last-of-type &--link {
            border-right: none;
          }
    }
}

.btn--sub {
    @extend %btn;
    background: $orange;
    border: 1px solid transparent;
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    width: 420px;
    @media screen and (max-width: $mobile) {
          width: 300px;
    }
    &:hover {
        background-color: transparent;
        color: $orange;
        border-color: $orange;
    }
}
